---
import Layout from '../layouts/Layout.astro';
import GameButton from '../components/GameButton.vue';

import Logo from '../assets/wizard-hat-logo.svg';
import MTGLogo from '../assets/mtg-logo.svg';
import OWLogo from '../assets/ow-logo.svg';

const gameButtonData = [
  {
    logo: OWLogo.src,
    path: "/overwatch",
    name: "Overwatch",
    nameSecondLine: "",
    active: true
  },
  {
    logo: MTGLogo.src,
    path: "/",
    name: "Magic: ",
    nameSecondLine: "The Gathering",
    active: false
  }
]
---

<Layout title="MetaTrack" logo={Logo.src}>
  <main>
    <GameButton client:load 
      logo={gameButtonData[0].logo} 
      path={gameButtonData[0].path} 
      name={gameButtonData[0].name} 
      namesl={gameButtonData[0].nameSecondLine}
      active={gameButtonData[0].active}
    />
    <GameButton client:load 
      logo={gameButtonData[1].logo} 
      path={gameButtonData[1].path} 
      name={gameButtonData[1].name} 
      namesl={gameButtonData[1].nameSecondLine}
      active={gameButtonData[1].active}
    />

  </main>
</Layout>

<style>
  main {
    padding: 2rem;
    max-width: 800px;
    margin: 50px auto 0 auto;
    display: flex;
    flex-direction: row;
    gap: 100px;
  }
  
  
</style>